.home-clients {
    background-color: #fff;
    color: #000;
    h2 {
        text-align: center;
        line-height: 0.79;
    }

    .header-el {
        position: fixed;
        bottom: 44.5%;

        color: black;
        height: 9vw;
        transform: scale(0.15) translate(0, -50%);

        &.amp-logo {
            left: 46.5%;
            transform: scale(0.15) translate(-50%, -50%);
        }

        &.left {
            left: 0;
            transform-origin: left;
        }
        &.right {
            right: 0;
            transform-origin: right;
        }

        svg {
            width: 100%;
            height: 100%;
            path {
                fill: black;
            }
        }
    }

    section {
        height: 100vh;
        padding: 50vh 0;
    }

    .brand {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -0.05em;
        line-height: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 768px) {
            font-size: 5.20833vw;
            line-height: 0.95;
        }
        @media (min-width: 1024px) {
            -moz-column-gap: 0.52083vw;
            column-gap: 0.52083vw;
            flex-direction: row;
            width: 100%;
            font-size: 3.125vw;
        }
        > div {
            align-items: center;
            display: flex;
            @media (min-width: 1024px) {
                flex: 0 0 50%;
            }

            &:first-child {
                display: flex;
                justify-content: flex-end;
            }
            &:first-child {
                display: flex;
                justify-content: flex-end;
            }
            &:last-child {
                display: flex;
            }
        }

        img {
            // height: 1.6vw;
            // display: inline-block;
            // margin-top: 4px;
            // width: fit-content;
            display: flex;
            height: 0.85em;
            margin: 0.2rem 0;
            max-width: 35vw;
            @media (min-width: 1024px) {
                height: 0.55em;
                margin: initial;
                max-width: 8vw;
            }
        }
    }
}

.brands-container {
    position: relative;
    z-index: 1;
}