.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
    gap: 0 3rem;
}
@media (min-width: 1240px) {
    .grid {
        padding: 0 7.8125vw;
        gap: 0 7.8125vw;
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 7.8125vw;
    }
}
@media (min-width: 768px) {
    .grid {
        gap: 0 6rem;
    }
}
.work-list {
    align-items: flex-start;
    padding-bottom: 50svh;
    padding-top: calc(50svh + 5rem);
    position: relative;
    row-gap: 5rem;
    z-index: 1;
}
@media (min-width: 1024px) {
    .work-list {
        padding-top: calc(50svh - 4.16667vw);
        row-gap: 5.78125vw;
    }
}


.work-title {
    transform: scale(0);
    font-size: 10.41667vw;
    font-weight: 700;
    line-height: .7;
    letter-spacing: -12px;
    transform-origin: 0;
}
.title-fixed {
    left: 0;
    padding: 0 .4rem;
    position: fixed;
    top: 1rem;
}
@media (min-width: 1920px) {
    .title-fixed {
        padding: 0 .4rem;
        top: 1rem;
    }
}
@media (min-width: 1024px) {
    .title-fixed {
        padding: 0 .26042vw;
        top: .52083vw;
    }
}
.work-hover-titles {
    // transform: scale(0);
    font-size: 10.41667vw;
    font-weight: 700;
    line-height: .8;
    letter-spacing: -12px;
}
.work-hover-title{
    position: fixed;
    top: 1rem;
}

.work-hero__line {
    transform-origin: 0;
    transform:scale(0);
    opacity: 0; /* Ban đầu ẩn các dòng text */
  }
.work-list-item {
    grid-column-end: span 1;
    position: relative;
    // z-index: 10;
    opacity: 0;
    &.blur{
        z-index: -1 !important;
    }
}

.work-list-item:nth-child(-n+10) {
    opacity: 0;
    transform: translateY(50vh);
    transition: opacity .1s cubic-bezier(.32,.94,.6,1), transform 1.8s cubic-bezier(.22,1,.36,1);
}

.is-visible .work-list-item {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 1024px) {
    .work-list-item:nth-child(3), .work-list-item:nth-child(6) {
        transition-delay: .3s;
    }
}
.work-list-item:nth-child(3) {
    transition-delay: .2s;
}

.work-list-item__link {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.work-list-item .img{
    position: relative;
    &:before {
        background-color: #f1f1f1;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity .4s cubic-bezier(.32,.94,.6,1) .1s;
        width: 100%;
    }
}
.work-list-item .img.class4{
    position: relative;
    &:before {
        background-color: #f1f1f1;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity 2s cubic-bezier(.32,.94,.6,1) .2s;
        width: 100%;
    }
}
.work-list-item .img.class1{
    position: relative;
    &:before {
        background-color: #f1f1f1;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity 4s cubic-bezier(.32,.94,.6,1) .3s;
        width: 100%;
    }
}
.work-list-item .img.class2{
    position: relative;
    &:before {
        background-color: #f1f1f1;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity .8s cubic-bezier(.32,.94,.6,1) .4s;
        width: 100%;
    }
}
.work-list-item .img.class3{
    position: relative;
    &:before {
        background-color: #f1f1f1;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity 1.2s cubic-bezier(.32,.94,.6,1) .5s;
        width: 100%;
    }
}
.work-list-item .img.hide-before{
    &::before{
        opacity: 0;
    }
}

.work-list-item__caption {
    color: #000;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    width: 100%;
}

.project-label {
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.1;
}
.ttu {
    text-transform: uppercase;
}
.work-list-item__caption {
    color: #000;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    width: 100%;
}

@media (min-width: 1024px) {
    .work-list-item__title {
        text-align: right;
    }
}



